/*<-------------------------------- Celulares -------------------------------->*/

@media screen and (min-width: 576px) {
    .imagem {
        width: 80%;
    }
    .img-livros {
        width: 40%;
    }
    iframe {
        width: 500px;
    }
    .btn-menu {
        height: 55px;
        width: 55px;
        margin-top: 2%;
        float: right;
        text-align: center;
        border-radius: 55px;
        background: transparent;
        color: #F28C26;
        cursor: pointer;
        font-size: 20px;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 768px) {
    .imagem {
        width: 60%;
    }
    .img-livros {
        width: 35%;
    }
    iframe {
        width: 500px;
    }
    .btn-menu {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 992px) {
    .imagem {
        width: 50%;
    }
    .img-livros {
        width: 35%;
    }
    iframe {
        width: 500px;
    }
    .btn-menu {
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .imagem {
        width: 50%;
    }
    .img-livros {
        width: 27%;
    }
    iframe {
        width: 500px;
    }
    .img-fisico {
        margin: 0px 3.5em;
    }
    .introducao h1,
    h3 {
        width: 40%;
    }
    .introducao h3 {
        width: 60%;
    }
    .btn-menu {
        padding-bottom: 22px;
    }
}