    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        outline: none;
    }
    
    body {
        width: 100%;
        height: 100vh;
        font-weight: 550;
        background-color: #fac279;
    }
    
    html {
        width: 100%;
    }
    
    iframe {
        width: 550px;
        height: 300px
    }
    
    .container>div {
        width: inherit;
    }
    
    .container {
        padding-top: 6em;
        display: flex;
        width: 100%;
        min-height: 100vh;
    }
    
    #page {
        width: 100%;
        min-height: 100vh;
        align-items: center;
        padding: 0em 2em;
        letter-spacing: -1.8px;
    }
    
    ul {
        list-style: none;
    }
    
    header {
        position: fixed;
        width: 100%;
        height: 80px;
        background-color: black;
        padding: 0em 2em;
    }
    
    .logo {
        font: 1.9em 'Sansita Swashed', cursive;
        color: #F28C26;
    }
    
    .btn-menu {
        background-color: transparent;
        float: right;
        line-height: 55px;
        font-size: 25px;
        cursor: pointer;
        margin-top: 12px;
        display: none;
        border-radius: 55px;
        width: 55px;
        height: 55px;
        text-align: center;
    }
    
    .btn-menu:hover {
        transition: 1.5s;
        background-color: #F28C26;
        color: black;
    }
    /* ---------------------------------------- Menu mobile ---------------------------------------- */
    
    header nav {
        float: right;
    }
    
    header nav ul {
        display: flex;
    }
    
    header nav ul li {
        list-style: none;
    }
    
    header nav ul li a {
        display: block;
        padding: 0 10px;
        color: #F28C26;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: -0.5px;
        font-family: 'Sansita Swashed', cursive;
        height: 80px;
        text-align: center;
    }
    
    header nav ul li a:hover,
    .logo:hover {
        transition: 1.2s;
        color: white;
    }
    /*----------------------------------------------- Fontes Sections ----------------------------------------------- */
    
    .fo-titulo h1 {
        text-align: center;
        font: 700 1.8em 'Work Sans', italic;
        padding-bottom: 0.5em;
        color: black;
    }
    
    .fo-texto p,
    span,
    li {
        text-align: justify;
        font: 450 1.2em/1.2em 'Work Sans', italic;
        line-height: 1em;
        padding-bottom: 0.3em;
        color: black;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        font: 800 1em 'Work Sans', italic;
        color: black;
    }
    
    .fo-subtitulo h3,
    h2 {
        font: 700 1.4em 'Work Sans', italic;
        padding-bottom: 0.5em;
        color: #ff6600;
    }
    /*----------------------------------------------- Imagens ----------------------------------------------- */
    
    .container-img {
        text-align: center;
    }
    
    .img-fisico {
        padding: 10px;
        width: 33%;
    }
    
    .img-quem-somos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        padding-bottom: 20px;
    }
    
    .img-livros,
    .img-toque-cultura {
        text-align: left;
        max-width: 100%;
    }
    /*----------------------------------------------- Introdução ----------------------------------------------- */
    
    .introducao {
        padding: 0em 2em;
        align-items: center;
        text-align: left;
        background-image: url(./imagens/logo4.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-family: 'Work Sans', italic;
        color: black;
    }
    
    .introducao h1 {
        font-size: 2em;
        width: 70%;
        line-height: 1;
    }
    
    .introducao h3 {
        font-size: 1.5em;
        padding-bottom: 1em;
        width: 50%;
    }
    
    .btn-saiba-mais {
        padding: 0.5em;
        text-align: center;
        border-radius: 50px;
        border: 3px solid #fc8f00;
        background: transparent;
        cursor: pointer;
        font: 500 1.5em 'Work Sans', italic;
        text-decoration: none;
    }
    
    .btn-saiba-mais:hover {
        transition: 1.5s;
        background-color: #F28C26;
        color: black;
    }
    /* ----------------------------------------------- Informações ----------------------------------------------- */
    
    .informacoes {
        padding-top: 6em;
        height: auto;
        text-decoration: none;
    }
    
    .canais-denuncia {
        display: inline;
        font: 450 0.8em 'Work Sans', italic;
        color: #ff6600;
    }
    
    .canais-denuncia a,
    span {
        color: black;
    }
    /* ----------------------------------------------- Sections ----------------------------------------------- */
    
    .quem-somos {
        padding-top: 6em;
    }
    
    .quem-somos a {
        font-size: 1.2em;
        color: #ff6600;
    }
    
    .dicas {
        padding-top: 6em;
        height: auto;
    }
    
    .aplicativos {
        padding-top: 6em;
        height: auto;
    }